
body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 320px;
    font-family: 'Catamaran';
    background: #E5E5E5;
    overflow-x: hidden;


}

header{
    display: flex;
    max-width: 1553px;
    justify-content: center;
    margin: 0 auto;
    align-content: space-between;
    align-items: flex-end;

    font-size: 25px;
}

header div{
    display: flex;
    width: 100%;
    /*max-width: 1553px;*/

}

.content-container {
    width: 100%;
    /*max-width: 1553px;*/
}

.header_wrapper {
    display: flex;
    gap: 400px;
}

.nav-wrapper{
    display: flex;
    gap: 65px;
}

.nav .list{
    display: flex;
    gap: 28px;

    margin: 0;
    list-style: none;
}

.list-item {
    height: 100%;
}

.list-item-link {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 4px 8px;
    color: #163561;
}

.list-item-link.active {
    height: 100%;
    background-color: #99BAED;
    color: white;
    border-radius: 5px;
}

.list-item-link:hover {
    background-color: #99BAED;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.control-bar {
    display: flex;
    align-items: center;
    gap: 72px;

    position: relative;
    top: 27px;
}

.btn.btn-primary.btn-lg.main-button {
    height: 76px;
    min-width: 178px;

    background: #99BAED;
    border-radius: 20px;
    border: 1px solid #99BAED;
}

.starter-wraper{
    display: flex;
    height: 821px;
    background-image: url("../images/_12646_1.png");
    background-repeat: no-repeat;
    background-position: right;
    font-family: Catamaran;
    flex-direction: column;

}
.starter-wraper p{
    padding-left: 188px;
    width: 690px;
    font-size: 25px;
}
.starter-wraper button{
    margin-left: 188px;
    width: 188px;
    font-size: 25px;
}

h1{
    font-size: 75px;
    width: 900px;
    font-weight: bold;
    padding: 185px 0 0 188px;
    color: #163561;

}
h1 span {
    font-size: 75px;
    font-weight: bold;
    color: #FBB400;
}

.our-history{
    background-image: url("../images/history-bg.svg");
    height: 1200px;
    background-repeat: no-repeat;
}

.our-history-wrapper{
    display: flex;
    align-items: center;
}

.history-wrap{
    display: flex;
    width: 968px;
    flex-flow: row wrap;
    align-content: space-around;

}

.our-history-image{
    margin-left: 82px;
}

.our-history__title{
    display: flex;
    margin-left: 149px;
    width: 526px;
    font-weight: bold;
    font-family: Catamaran;
    flex-flow: row wrap;
    gap: 35px;
}

.our-history__title-first-item  {
    font-size: 75px;


}
.our-history__title-second-item{
    color: #FBB400;
    font-size: 75px;
}

.our-history__title-description{
    font-size: 25px;
    font-weight: normal;
    width: 400px;
    padding-top: 20px;
}
